// 기본 색상
@brand:                  @blue;
@link:                   @brand;
@link-hover:             darken(@link, 10%);
@text:                   @gray-dark;
@text-light:             @gray-light;
@line:                   @table-border-color;
@line-light:             lighten(@line, 6%);
@line-dark:              darken(@line, 6%);
.brand                   { color: @brand }
.bg-brand                { background-color: @brand }
.text-light              { color: @text-light }

// 기본 변수
@font-family-sans-serif: "Apple SD Gothic Neo", "맑은 고딕", "Helvetica Neue", Helvetica, Arial, sans-serif;
@normal:                 300;
@bold:                   600;
@link-hover-decoration:  none;

// 레이아웃
@html-overflow-y:        scroll;
@body-bg:                @white;
@footer-height:          60px;
@footer-margin:          30px;

// 선택 영역
@body-selection:         10;
@body-user-select:       none;
@div-user-select:        text;

// 제목
@font-size-h1:           20px;
@font-weight-h1:         @bold;
@font-size-h2:           16px;
@font-weight-h2:         @bold;
@font-size-h3:           14px;
@font-weight-h3:         @bold;
