// 기본 색상
@brand:                  @blue;
@link:                   @brand;
@link-hover:             darken(@link, 10%);
@text:                   @gray-dark;
@text-light:             @gray-light;
@line:                   @table-border-color;
@line-light:             lighten(@line, 6%);
@line-dark:              darken(@line, 6%);
.brand                   { color: @brand }
.bg-brand                { background-color: @brand }
.text-light              { color: @text-light }

// 레이아웃
@body-bg:                @white;
@footer-height:          60px;
@footer-margin:          30px;
